@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&family=Urbanist:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

:root {
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --secondary-color: #04c4ff;
    --bs-supporting-color: #c850c0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}

h1 {
    font-size: 3.3rem;
}

h2 {
    line-height: 3.3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav-link {
    color: var(--bs-main-color);
    font-weight: bold;
}

.nav-link:hover {
    color: var(--secondary-color) !important;
}

button, a {
    font-size: 1.15rem!important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.common-heading {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem!important;
}

.common-title {
    margin-bottom: 4.2rem;
}


/* Hero Section Styling */

.hero-section .container {
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main {
    height: 80vh;
    position: relative;
}

.bg-color {
    background-color: var(--bs-dark-primary);
}

.text-light-grey {
    color: #c6c6c6;
}

/* .bg-theme {
    color: var(--bs-supporting-color);
    background-image: none!important;
} */

.hero-image-section {
    max-width: 100%;
    width: 65%;
    border-radius: 2rem;
}

.custom-shape-divider-bottom-1692863479 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1692863479 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1692863479 .shape-fill {
    fill: #FFFFFF;
}

/* Services Section CSS */

.services-section {
    padding: 6rem 0 3rem 0!important;
}

.icon-span {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--bs-main-color);
}

.card-box:hover {
    box-shadow: rgba(149, 157, 165, 0.3) 0 8px 24px;
}

/* more-info-section styling */
.more-info-section {
    background-image: linear-gradient(rgba(22, 22, 22,  0.8), rgba(22, 22, 22, 0.8)), url("https://images.pexels.com/photos/3182773/pexels-photo-3182773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 4rem 0;
    overflow: hidden;
}

.more-info-section .img-section {
    position: relative;
}

.more-info-section .img-section img {
    padding: 12px;
    width: 70%;
}

/* online section */
.business-section {
    padding-top: 3rem;
}